.tribe-mini-calendar-event .list-date{
	display: none;
}
.tribe-mini-calendar-event .list-info{
	margin: 0px;
}
.type-tribe_events {
    padding: 0px 10px;
}
.tribe-this-week-event {
	border: 0px !important;
}
.tribe-this-week-events-widget .tribe-events-page-title{
    position: absolute;
    top: 5px;
    left: 30px;
    color: #fff;
    font-size: 20px !important;
    width: calc(100% - 55px);
    margin: 0px;
	font-weight: lighter;
	text-transform: uppercase;
}
.tribe-this-week-event .duration{
	display: inline-block;
}
.tribe-this-week-event .entry-title{
	display: inline-block;
	font-weight: bold;
	margin-left: 15px !important;
}
.tribe-this-week-widget-day{
	cursor: pointer;
}
.tribe-this-week-widget-day-wrap{
	display: none;
	position: absolute;
	left: 0px;
}
.tribe-this-week-widget-day.this-week-today .tribe-this-week-widget-day-wrap{
	display: initial;
}
.tribe-this-week-widget-day .date{
    font-size: 40px;
    font-weight: lighter;
}
.tribe-this-week-widget-day .day{
	font-weight: lighter;
    font-size: 11px;
    text-transform: uppercase;
}
.tribe-this-week-widget-day .tribe-this-week-widget-header-date{
	background-color: #ffffff;
	border-bottom: 1px solid #e6e6e6;
    color: #b9b9b9;
}
.tribe-this-week-widget-day.this-week-today .tribe-this-week-widget-header-date{
	background-color: #f8f5ec;
	color: #144c5b;
}
.entry-content ul.tribe-events-sub-nav, .tribe-events-sub-nav{
	background-color: #144c5b;
	margin: 0px !important;
}
.tribe-this-week-nav-link a, .tribe-this-week-nav-link a:visited{
	color: #ffffff;
}
@media only screen and (max-width: 767px) {
	.tribe-this-week-widget-horizontal .tribe-this-week-widget-day, .tribe-this-week-widget-horizontal .tribe-this-week-widget-hide-weekends .tribe-this-week-widget-day {
    	width: 14.28% !important; 
    }
    .tribe-this-week-widget-day .date{
 	   font-size: 25px;
	}
	.tribe-this-week-widget-day .day{
	    font-size: 6px;
	}
	.tribe-this-week-events-widget .tribe-events-page-title{
		font-size: 14px !important;
		top: 8px;
	}
}